<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/images/day.jpg" *ngIf="kelvinToC(weatherData.main.temp)  > 20">
    <img src="../assets/images/night.jpg" *ngIf="kelvinToC(weatherData.main.temp) <= 20">

    <div class="weather-data">
      <div class="location"> {{weatherData.name}} </div>
      <div class="temperature">{{kelvinToCRounded(weatherData.main.temp) | number: '1.0-0'}}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="label">
          <img src="../assets/images/cold.png">
          <span>min</span>
        </div>
        <div class="value">
          {{kelvinToCRounded(weatherData.main.temp_min)}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="label">
          <img src="../assets/images/hot.png">
          <span>max</span>
        </div>
        <div class="value">
          {{kelvinToCRounded(weatherData.main.temp_max)}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="label">
          <img src="../assets/images/humidity.png">
          <span>humidity</span>
        </div>
        <div class="value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="label">
          <img src="../assets/images/wind.png">
          <span>wind</span>
        </div>
        <div class="value">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
